@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="navbar navbar-default">
    <div class="container">
        <span>Title</span>
    </div>
</div>

<div class="container body-content">
    @RenderBody()
    <hr />
    <footer>
        <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
    </footer>
</div>

@section Scripts {
    @RenderSection("scripts", required: false)
}


